/.ssh
/.docker
/.local
.bash_history
.env
.env.example
.gitconfig
.idea
docker/logs/*
docker/mysql/*
docker/dms/mail-state/*
docker/dms/mail-logs/*
docker/dms/mail-data/*
docker/nginx/certs/*
src/node_modules
src/vendor
package-lock.json