.homepage {
  &__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 40%;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}