.order {
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    &-wrap {
      display: flex;
      align-items: center;
    }
    &-image-wrapper {
      position: relative;
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 8px;
    }
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
    &-text {
      font-size: 14px;
      line-height: 20px;
      margin-left: 20px;
      margin-right: 20px;
      &--price {
        margin-right: 0;
      }
    }
  }
}
